<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-between">
					<div>
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><%= link_to "Dashboard", home_index_path %></li>
							<li class="breadcrumb-item active">Leaves</li>
						</ol>
					</div>
					<div>
						<%= button_to "New",new_holiday_path, method: :get, class: "btn btn-sm btn-primary"%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<table class='table'>
			<thead> 
				<th>Type</th>
				<th>no. of Leaves</th>
				<th>Actions</th>
			</thead>
			<tbody>
				<% @holidays.each do|holiday|%>
					<tr>
						<td>
							<%= holiday.name.titleize%>
						</td>
						<td>
							<%= holiday.no_of_holidays%>
						</td>
						<td>
							<div class="d-flex">
								<%= button_to "Edit", edit_holiday_path(holiday), method: :get, class: "btn btn-sm btn-primary" %>
								<%= button_to "Delete", holiday_path(holiday), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger mx-1" %> 
							</div>
						</td>
					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
	<div class="p-4">
		<%= will_paginate @holidays %>
	</div>
</div>




  