<li class="nav-item">
	<%= link_to admin_users_path, class: "nav-link"  do%>
		<i class="bi bi-people-fill p-2"></i>Users
	<%end%>
</li>
<li class="nav-item">
	<%= link_to roles_path, class: "nav-link"  do%>
		<i class="bi bi-person-fill-up p-2"></i>Role							
	<%end%>
</li>
<li class="nav-item">
	<%= link_to roles_path, class: "nav-link"  do%>
		<i class="bi bi-journal-text p-2"></i>Leaves
	<%end%>
</li>
<li class="nav-item">
	<%= link_to roles_path, class: "nav-link"  do%>
		<i class="bi bi-people p-2"></i>Teams
	<%end%>
</li>
<li class="nav-item">
	<%= link_to roles_path, class: "nav-link"  do%>
		<i class="bi bi-file-earmark-text-fill p-2"></i>Policy
	<%end%>
</li>
<!-- li class="nav-item dropdown">
	<a href="#works" class="nav-link dropdown-toggle" data-toggle="dropdown">Works <span
		class="caret"></span>
	</a>
	< Add your dropdown menu items here >
	<div class="dropdown-menu">
		< Example dropdown items >
		<a class="dropdown-item" href="#">Item 1</a>
		<a class="dropdown-item" href="#">Item 2</a>
		<a class="dropdown-item" href="#">Item 3</a>
	</div>
</li-->