<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-between">
					<div>
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><%= link_to "Dashboard", home_index_path %></li>
							<li class="breadcrumb-item active"> Leave Requested</li>
						</ol>
					</div>
                    <div>
						<% if is_manager? || is_employee?%>
							<%= button_to "Apply Leave",new_leave_request_path, method: :get, class: "btn btn-sm btn-primary"%>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<table class='table'>
			<thead> 
				<% if is_admin?%>
					<th>Employee Name</th>
				<%end%>
				<th>Leaves</th>
				<th>Reporting Manager</th>
				<th>Leave Type</th>
				<th>Day Type</th>
				<th>Half Type</th>
                <th>Leave From</th>
				<th>Leave To</th>
				<th>Request Time</th>
				<th>Action</th>
				<th>Reason</th>
			</thead>
			<tbody>
				<% if @leave_requests.present?%>
					<% @leave_requests.each do|leave_request|%>
						<tr>
							<% if is_admin?%>
								<td>
									<%= leave_request&.user&.first_name.present? ? leave_request.user.first_name.titleize : "N/A"%>
								</td>
							<%end%>
							<td>
								<%= leave_request.user_leave_type&.leave_type&.name.present? ? leave_request.user_leave_type.leave_type.name.titleize : "N/A"%>
							</td>
							<td>
								<%= leave_request&.reporting_manager&.first_name.present? ? leave_request.reporting_manager.first_name.titleize : "N/A" %>
							</td>
							<td>
								<%= leave_request.user_leave_type.leave_type.name%>
							</td>
							<td>
								<%= leave_request.day_type.present? ? leave_request.day_type.titleize : "N/A"%>
							</td>
							<td>
								<%= leave_request.half_type.present? ? leave_request.half_type.titleize : "N/A"%>
							</td>
							<td>
								<%= leave_request.leave_from.present? ? leave_request.leave_from.strftime("%d %b, %Y") : "N/A" %>
							</td>
							<td>
								<%= leave_request.leave_to.present? ? leave_request.leave_to.strftime("%d %b, %Y") : "N/A"%>
							</td>
							<td>
								<%= leave_request.created_at.present? ? leave_request.created_at.in_time_zone("Asia/Kolkata").strftime("%I:%M%p") : "N/A"%>
							</td>
							<td>
								<div>
									<% if is_admin?%>
										<% if leave_request.approve.eql?(nil)%>
											<% if leave_request.canceled.eql?(true)%>
												<div><span class="text-warning">Cancelled!</span></div>
											<%elsif%>
												<%= button_to  leave_approve_leave_request_path(leave_request), method: :post,  form_class: 'approve-alertbox','data-toggle': 'tooltip', 'data-placement':'top', title: 'Approve Leave' do%>
													<i class="bi bi-check-circle-fill text-green"></i>
												<%end%>
												<%= button_to leave_reject_leave_request_path(leave_request),method: :post,form_class: 'reject-alertbox','data-toggle': 'tooltip', 'data-placement':'top', title: 'Reject Leave' do%>
													<i class="bi bi-x-circle-fill text-danger"></i>
												<%end%>
											<%end%>
										<% elsif leave_request.approve.eql?(true)%>
											<span class="text-success">Approved!</span>
										<%elsif leave_request.approve.eql?(false)%>
											<span class="text-danger">Rejected!</span>
										<%end%>
									<% elsif is_manager? || is_employee?%>
										<% if leave_request.approve.eql?(nil)%>
											<div class="d-flex">
												<% if leave_request.canceled.eql?(nil)%>
													<div><span class="text-warning">Pending!</span></div>
													<div class="mx-2">
														<%= button_to cancel_leave_request_path(leave_request),form_class: 'cancel-alertbox',class: "mx-2", 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Cancel Leave' do %>
															<i class="bi bi-x-circle-fill text-danger"></i>
														<% end %>
													</div>
													<!-- <div class="mx-2">
														<%= link_to edit_leave_request_path(leave_request),class: "mx-2", 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Edit Leave' do %>
															<i class="bi bi-pencil-square"></i>
														<% end %>
													</div>
													-->
												<%else%>
													<span class="text-warning">Cancelled!</span>
												<%end%>
											</div>
										<% elsif leave_request.approve.eql?(true)%>
											<span class="text-success">Approved!</span>
										<%elsif leave_request.approve.eql?(false)%>
											<span class="text-danger">Rejected!</span>
										<%end%>
									<%end%>
								</div>
							</td>
							<td>
								<div id="reason" class="d-none">
									<%= leave_request.description %>
								</div>
								<i class="bi bi-info-circle text-primary" onclick="sweetAlertBtn()" data-bs-toggle="tooltip" data-bs-placement="top" title="View Reason"></i>
							</td>
						</tr>
					<%end%>
		 		<%else%>
					<tr>
						<td colspan="12" class="text-center border-0">
							<h2 class="mt-3">Record Not Found</h2>
						</td>
					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>
<script>
	function sweetAlertBtn() {
        var reason = document.getElementById('reason').innerHTML;
        Swal.fire({
             text: reason
        });
    }
	window.addEventListener(('turbo:load'), () => {
		document.addEventListener('submit', (event) => {
			if (event.target && event.target.className === 'approve-alertbox') {
			event.preventDefault()
			Swal.fire({
				title: 'Are you sure?, you want to Approve this leave',
				text: "You won't be able to revert this!",
				icon: 'success',
				showCancelButton: true,
				confirmButtonColor: 'green',
				cancelButtonColor: '#d33',
				cancelButtonText: "No",
				confirmButtonText: 'Yes'
			})
				.then((result) => {
				if (result.isConfirmed) {
					document.querySelector('.approve-alertbox').submit()
				}
				})
				.catch(event.preventDefault())
			}
			if (event.target && event.target.className === 'reject-alertbox') {
			event.preventDefault()
			Swal.fire({
				title: 'Are you sure?, you want to Reject this leave',
				text: "You won't be able to revert this!",
				icon: 'error',
				showCancelButton: true,
				confirmButtonColor: 'green',
				cancelButtonColor: '#d33',
				cancelButtonText: "No",
				confirmButtonText: 'Yes'
			})
				.then((result) => {
				if (result.isConfirmed) {
					document.querySelector('.reject-alertbox').submit()
				}
				})
				.catch(event.preventDefault())
			}
			if (event.target && event.target.className === 'cancel-alertbox') {
			event.preventDefault()
			Swal.fire({
				title: 'Are you sure?, you want to cancel your leave',
				text: "You won't be able to revert this!",
				icon: 'question',
				showCancelButton: true,
				confirmButtonColor: 'green',
				cancelButtonColor: '#d33',
				cancelButtonText: "No",
				confirmButtonText: 'Yes'
			})
				.then((result) => {
				if (result.isConfirmed) {
					document.querySelector('.cancel-alertbox').submit()
				}
				})
				.catch(event.preventDefault())
			}
		})
	});

</script>

