<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-between">
					<div>
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><%= link_to "Dashboard", home_index_path %></li>
							<li class="breadcrumb-item active"> Leave Requested</li>
						</ol>
					</div>
                    <div>
						<% if is_manager? || is_employee?%>
							<%= button_to "Apply Leaves",new_leave_request_path, method: :get, class: "btn btn-sm btn-primary"%>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<table class='table'>
			<thead> 
				<% if is_admin?%>
					<th>Employee Name</th>
				<%end%>
				<th>Leaves</th>
				<th>Reporting Manager</th>
                <th>Leave From</th>
				<th>Leave To</th>
				<th>status</th>
			</thead>
			<tbody>
				<% @leave_requests.each do|leave_request|%>
					<tr>
						<% if is_admin?%>
							<td>
								<%= leave_request.user.first_name%>
							</td>
						<%end%>
						<td>
							<%= leave_request.user_leave_type.leave_type.name%>
						</td>
						 <td>
							<%= leave_request.reporting_manager.first_name %>
						</td>
                        <td>
							<%= leave_request.leave_from%>
						</td>
						 <td>
							<%= leave_request.leave_to%>
						</td>
						 <td>
							<% if is_admin?%>
								<% if leave_request.approve.eql?(nil)%>
									<%= link_to "Approve", leave_approve_leave_request_path(leave_request), method: :post, class: "btn btn-success"%>
									<%= link_to "Reject", leave_reject_leave_request_path(leave_request),method: :post, class: "btn btn-danger"%>
								<% elsif leave_request.approve.eql?(true)%>
									<span class="text-success">Approved!</span>
								<%elsif leave_request.approve.eql?(false)%>
									<span class="text-danger">Rejected!</span>
								<%end%>
							<% elsif is_manager? || is_employee?%>
								<% if leave_request.approve.eql?(nil)%>
									<span class="text-warning">Pending!</span>
								<% elsif leave_request.approve.eql?(true)%>
									<span class="text-success">Approved!</span>
								<%elsif leave_request.approve.eql?(false)%>
									<span class="text-danger">Rejected!</span>
								<%end%>
							<%end%>
						</td>
					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>
