<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-between">
					<div>
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><%= link_to "Dashboard", home_index_path %></li>
							<li class="breadcrumb-item active"> Leave Requested</li>
						</ol>
					</div>
                    <div>
						<div>
							<%= render partial: "search", locals: {leave_requests: @leave_requests}%>
						</div>
						<% if is_manager? || is_employee?%>
							<%= button_to "Apply Leave",new_leave_request_path, method: :get, class: "btn btn-sm btn-primary"%>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<div id="leave_requests_list">
			  <%= render partial: '/leave_requests/list', locals: {leave_requests: @leave_requests,leave_types: @leave_types}%>
		</div>
		<div class="p-4">
			<%= will_paginate @leave_requests%>
		</div>
	</div>
</div>


