<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-between">
					<div>
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><%= link_to "Dashboard", home_index_path %></li>
							<li class="breadcrumb-item"><%= link_to "Assigned Leaves", leave_requests_path %></li>
							<li class="breadcrumb-item active">Apply Leave</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<%= form_for @leave_request do |f| %>
			<div class="row">
				<div class="form-group col-md-6">
					<%= f.label :leave_type %>
					<%= f.select :user_leave_type_id, options_for_select(@user_leave_types), { include_blank: '--Select leave--' }, { class: "form-control", required: true, id: "user_leave_type_id" } %>
					<div id="show_count" class="text-success"></div>
				</div>
				<div class="form-group col-md-6">
					<%= f.label :day_type %>
					<%= f.select :day_type,options_for_select(["half day", "full day"]),{include_blank: "choose day type"}, {class: "form-control", id: "day_type" } %>
				</div>
				
				<div class="form-group col-md-6">
					<%= f.label :leave_from %>
					<%= f.date_field :leave_from,  autocomplete: "select_from", class: "form-control", placeholder: "choose starting date"%>
				</div>

				 <div class="form-group col-md-6 ">
					<%= f.label :leave_to %>
					<%= f.date_field :leave_to,  autocomplete: "select_to", class: "form-control", placeholder: "choose end date" %>
				</div>

				<div class="form-group col-md-6 d-none" id="time_field_from">
					<%= f.label :time_from %>
					<%= f.time_field :time_from,  autocomplete: "select_from", class: "form-control", placeholder: "choose time" %>
				</div>


				<div class="form-group col-md-6 d-none" id="time_field_to">
					<%= f.label :time_to %>
					<%= f.time_field :time_to,  autocomplete: "select_from", class: "form-control", placeholder: "choose time" %>
				</div>
                 
				<div class="form-group mt-2">
					<%= f.submit "save", class: "btn btn-sm btn-primary" %>
				</div>
				</div>
			</div>
		<%end%>
	</div>
</div>
<script>
	var selectedItem = [];
	document.getElementById('user_leave_type_id').addEventListener('change', function() {
		var selectedLeaveTypeId = this.value;

		$.ajax({
			type: "GET",
			url: '/user_leave_types/' + selectedLeaveTypeId,
			dataType: 'json',
			data: { id: selectedLeaveTypeId },
			success: function(response) {
				$('#show_count').html('Leave Count: ' + response.leave_counts);
			},
			error: function() {
				console.error('Error fetching leave count.');
			}
		});

		let leaveTypeName = $("#user_leave_type_id option:selected").text();
		let dayType = $("#day_type option:selected").text();

		if (leaveTypeName === 'Short Leave') {
			$('#day_type').prop('disabled', true);
		} else {
			$('#day_type').prop('disabled', false);
		}
	});

	document.getElementById('day_type').addEventListener('change', function() {
		let dayType = $("#day_type option:selected").text();
		if (dayType === 'half day') {
			$("#time_field_from").removeClass('d-none');
			$("#time_field_to").removeClass('d-none');
		} else if ( dayType === 'half day') {
			$("#time_field_from").removeClass('d-none');
			$("#time_field_to").removeClass('d-none');
		} else {
			$("#time_field_from").addClass('d-none');
			$("#time_field_to").addClass('d-none');
		}
	});
	
</script>

