<div>
	<%= render "shared/error_messages"%>
</div>
<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-between">
					<div>
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><%= link_to "Dashboard", home_index_path %></li>
							<li class="breadcrumb-item"><%= link_to "Leave Requested", leave_requests_path %></li>
							<li class="breadcrumb-item active">Apply Leave</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<%= form_for @leave_request do |f| %>
			<div class="row">
				<div class="form-group col-md-6">
					<%= f.label :leave_type, class: "required-field" %>
					<%= f.select :user_leave_type_id, options_for_select(@user_leave_types), { include_blank: '--Select leave--' }, { class: "form-control",  id: "user_leave_type_id", required: true} %>
					<div id="show_count"></div>
				</div>
				
				<div class="form-group col-md-6", id="dayty">
					<%= f.label :day_type %>
					<%= f.select :day_type,options_for_select(LeaveRequest.day_types.keys.map{ |dt| [dt.humanize, dt]}),{include_blank: "--Choose Day Type--"}, {class: "form-control", id: "day_type", required: true} %>
				</div>
				
				<div class="form-group col-md-6">
					<%= f.label :leave_from, class: "required-field"%>
					<%= f.date_field :leave_from, selected: Date.today, autocomplete: "select_from", class: "form-control",id: "date_type1", placeholder: "--Choose Starting Date--",type: 'text',onfocus: "(this.type='date')",onblur: "(this.type='text')", required: true, min: Date.today%>
					<div id="date_error1"></div>
				</div>

				 <div class="form-group col-md-6 " id="date2">
					<%= f.label :leave_to %>
					<%= f.date_field :leave_to,  autocomplete: "leave_to", class: "form-control ",id: "date_type2", placeholder: "--Choose End Date--",type: 'text',onfocus: "(this.type='date')",onblur: "(this.type='text')", required: true,min: Date.today%>
					<div id="date_error2"></div>
				</div>

				<div class="form-group col-md-6 d-none" id="time_field_from">
					<%= f.label :time_from %>
					<%= f.time_field :time_from,  autocomplete: "time_from", class: "form-control", placeholder: "--choose Time--", min: Time.current.strftime('%Y-%m-%dT%H:%M'), id: "time_from" %>
				</div>


				<div class="form-group col-md-6 d-none" id="time_field_to">
					<%= f.label :time_to %>
					<%= f.time_field :time_to,  autocomplete: "time_from", class: "form-control", placeholder: "--Choose Time--",min: Time.current.strftime('%Y-%m-%dT%H:%M'),id: "time_to"%>
				</div>
				
				<%= f.hidden_field :user_id, :value => current_user.id %>
                 
				 <div>
					<%= f.label :description, class: "required-field" %>
					<%= f.text_area :description, class: "form-control",  id: "user_leave_type_id", placeholder: "Reason of Leave.........", required: true %>
				</div>


				<div class="form-group mt-2">
					<%= f.submit "Send Request", class: "btn btn-sm btn-primary send-request" %>
				</div>
				</div>
			</div>
		<%end%>
	</div>
</div>
<script>
	var leaveCount= 0;
	document.getElementById('user_leave_type_id').addEventListener('change', function() {
		var selectedLeaveTypeId = this.value;
		$.ajax({
			type: "GET",
			url: '/user_leave_types/' + selectedLeaveTypeId,
			dataType: 'json',
			data: { id: selectedLeaveTypeId },
			success: function(response) {
				leaveCount = response.leave_count;
				$('#show_count').html('Your leave balance is: ' + leaveCount);
			},
			error: function() {
				console.error('Error fetching leave count.');
			}
		});

		let leaveTypeName = $("#user_leave_type_id option:selected").text();
		if (leaveTypeName === 'Short Leave') {
			$('#dayty').addClass('d-none');
			$("#time_field_from, #time_field_to").removeClass('d-none');
			$('#date_type2')[0].disabled = true;

		} else {
			$('#dayty').removeClass('d-none');
			$("#time_field_from, #time_field_to").addClass('d-none');
			$('#date_type2')[0].disabled = false;
		}
	});

	document.getElementById('day_type').addEventListener('change', function() {
		dayType = $("#day_type option:selected").text();
		if (dayType === 'Half day') {
			$('#show_count').html('Your leave balance is: ' + (leaveCount - 0.5));
			$("#time_field_from, #time_field_to").removeClass('d-none');
			$('#date_type2')[0].disabled = true;
		} else {
			$('#show_count').html('Your balance leave is: ' + (leaveCount));
			$("#time_field_from, #time_field_to").addClass('d-none');
			$('#date_type2')[0].disabled = false;
		}
	});

	document.getElementById('date_type1').addEventListener('change', function() {
		let dateType1 = $("#date_type1").val();
		if (dateType1 !== ""){
			firstDate = new Date(dateType1);
		}
	});
	document.getElementById('date_type2').addEventListener('change', function() {
		let dateType2 = $("#date_type2").val();
		if (dateType2 !== ""){
			secondDate = new Date(dateType2);
		}
		let days = secondDate.getTime() - firstDate.getTime();
		days = Math.floor(days / (1000 * 60 * 60 * 24));
		if (days !=""){
			if (days != "" && leaveCount > days){
				$('#show_count').html('Your leave balance is: ' + (leaveCount - days));
			}else if (leaveCount < days){
				$('#date_error2').html('You can not select more then your leave balance').css('color', 'red');
				$('.send-request')[0].disabled = true;
			}else if (leaveCount == days){
				$('#show_count').html('Your leave balance is:  0');
			} else {
				$('#date_error2').removeClass('.error')
				$('.send-request')[0].disabled = false;
			}
		}else{
			$('#date_error2').removeClass('.error')
			$('.send-request')[0].disabled = false;
		}
	});		

	document.addEventListener("turbo:load", function() {
		let dateField1 = $('#date_type1');
		let dateField2 = $('#date_type2');
		let dateError1 = $('#date_error1');
		let dateError2 = $('#date_error2');

		dateField1.on('input', function () {
			let selectedDate = new Date(dateField1.val());
			let currentDate = new Date();
			
			if (selectedDate < currentDate) {
			dateField1.addClass('error');
			dateError1.text('You can only select the current or future date').css('color', 'red');
			$('.send-request')[0].disabled = true;
			} else {
			dateField1.removeClass('error');
			dateError1.text('');
			$('.send-request')[0].disabled = false;
			dateField2.attr('min', dateField1.val());
			}
		});

		dateField2.on('input', function () {
			let selectedDate = new Date(dateField2.val());
			let currentDate = new Date();
			
			if (selectedDate < currentDate) {
				dateField2.addClass('error');
				dateError2.text('You can only select the current or future date').css('color', 'red');
				$('.send-request')[0].disabled = true;
			} else {
				dateField2.removeClass('error');
				dateError2.text('');
				$('.send-request')[0].disabled = false;
			}
		});
	});

		// var today = new Date().toISOString().split('T')[0];
		// document.getElementsById("date_type1")[0].setAttribute('min', today);


</script>