<div>
    <table class='table'>
        <thead>
            <th>Message</th>
             <% if is_employee? || is_manager?%>
                <th>Approved By</th>
                <th>Date</th>
                <th>Time</th>
            <%elsif is_admin?%>
                <th>Date From</th>
                <th>Date To</th>
            <%end%>
        </thead>
        <tbody>
            <% if @notifications.present?%>
                <% @notifications.each do|notification|%>
                    <% if is_employee? || is_manager?%>
                        <tr>
                            <td>
                               <%= notification.message%></div> 
                            </td>
                            <td>
                                <%= notification.notifiable.reporting_manager.first_name%>
                            </th>
                            <td>
                                <%= notification.created_at.strftime("%B %d, %Y")%>
                            </td>
                            <td>
                                <%= notification.created_at.in_time_zone("Asia/Kolkata").strftime("%I:%M%p")  %>
                            </td>
                            <td>
                                <%= link_to read_notification_path(notification), method: :post, remote: true do  %>
                                    <i class="bi bi-backspace"></i>
                                <%end%>
                            </td>
                        </tr>
                    <%else%>
                     <tr>
                        <td>
                            Hii <%= notification.recipient.first_name %> <%= notification.user.first_name %> requested for <%= notification.notifiable&.user_leave_type&.leave_type&.name %>
                            has been <%= notification.message%></div> 
                        </td>
                        <td>
                            <%= notification.notifiable&.leave_from&.strftime("%B %d, %Y")%>
                        </td>
                        <td>
                            <%= notification.notifiable&.leave_to&.strftime("%B %d, %Y")%>
                        </td>
                        <td>
                            <%= link_to read_notification_path(notification), method: :post, remote: true do  %>
                                <i class="bi bi-backspace"></i>
                            <%end%>
                        </td>
                    </tr>
                    <%end%>
                <%end%>
            <%else%>
                <tr>
                    <td colspan="12" class="text-center border-0">
                        <h2 class="mt-3">Record Not Found</h2>
                    </td>
                </tr>
        <% end %>
        </tbody>
    </table>
</div>