<table class='table'>
    <thead>
        <th>Message</th>
            <% if is_employee? || is_manager?%>
            <th>Reporting Manager</th>
            <th>Created At</th>
            <th>Time</th>
        <%elsif is_admin?%>
            <th>Date From</th>
            <th>Date To</th>
        <%end%>
    </thead>
    <tbody>
        <% if @notifications.present?%>
            <% @notifications.each do|notification|%>
                <tr>
                    <td>
                        <%= notification.message.present? ? notification.message : "N/A" %>
                    </td>
                    <% if is_employee? || is_manager?%>
                        <td>
                            <%= notification.notifiable.reporting_manager.present? ? notification.notifiable.reporting_manager.first_name.titleize : 'N/A'%>
                        </th>
                        <td>
                            <%= notification.created_at.strftime("%B %d, %Y")%>
                        </td>
                        <td>
                            <%=  notification.created_at.in_time_zone("Asia/Kolkata").strftime("%I:%M%p")  %>
                        </td>
                    <%else%>
                        <td>
                            <%=  notification.notifiable.leave_from.present? ? notification.notifiable.leave_from.strftime("%B %d, %Y") : 'N/A'%>
                        </td>
                        <td>
                            <%= notification.notifiable.leave_to.present? ? notification.notifiable.leave_to.strftime("%B %d, %Y") : 'N/A'%>
                        </td>

                    <%end%>
                </tr>
            <%end%>
        <%else%>
            <tr>
                <td colspan="12" class="text-center border-0">
                    <h2 class="mt-3">Record Not Found</h2>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>