<div class="p-2 d-flex justify-content-between">
    <h5> Notifications</h5>
    <span>Mark All Read</span>
</div>
<ul id="notification_list">
    <% if @notifications.present? %>
        <% @notifications.each do |notification| %>
            <% if notification.read == true%>
                <%= link_to notifications_path(user_name: notification.user.first_name), class: "text-black" do%>
                    <li class="mt-2">
                        <div>
                            <%= notification.message %>
                        </div>
                        <div class="d-flex justify-content-between" >
                            <div>
                                <strong><%= time_ago_in_words(notification.created_at.in_time_zone("Asia/Kolkata")) + ' ago' %> </strong>
                            </div>
                            <div>
                                <%= link_to read_notification_notification_path(notification), format: :js, remote: true do  %>
                                <i class="bi bi-x text-danger p-2"></i>
                                <%end%>
                            </div> 
                        </div>
                    </li>
                <%end%>
            <%else%>
                <div class="notification-bg">
                    <%= link_to notifications_path(user_name: notification.user.first_name), class: "text-black" do%>
                        <li class="mt-2">
                            <div>
                                <%= notification.message %>
                            </div>
                            <div class="d-flex justify-content-between" >
                                <div>
                                    <strong><%= time_ago_in_words(notification.created_at.in_time_zone("Asia/Kolkata")) + ' ago' %> </strong>
                                </div>
                                <div>
                                    <%= link_to read_notification_notification_path(notification), format: :js, remote: true do  %>
                                    <i class="bi bi-x text-danger p-2"></i>
                                    <%end%>
                                </div> 
                            </div>
                        </li>  
                    <%end%>
                </div> 
            <%end%>
        <% end %>
    <% else %>
        <h5 class="mt-3">Record Not Found</h5>
    <% end %>
</ul>
  <%= link_to "Show All", notifications_path %>
<style>
    #notification_list{
        width: 100% !important;
        height: auto !important;
        overflow: auto !important;
        max-height: 600px !important;
        min-height: 200px !important;
    }
    .notification-bg{
        background-color: #cdbebe70;
    }
</style>
