<div id="change_password" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-left">
					<h2>Change Password</h2>
					<div class="row">
						<div class="col">
                        	<%= form_for(current_user, as: current_user, url: password_popup_user_path(current_user), html: { method: :patch }) do |f| %>
                                <div class="field mb-2">
                                    <%= f.label :password %>
                                    <%= f.password_field :password, autocomplete: "new-password",id: "pass", class: "form-control", placeholder: "Create Password" %>
                                    <% if @minimum_password_length %>
                                        
                                        <em><%= @minimum_password_length %> characters minimum</em>
                                    <% end %>
                                </div>

                                <div class="field mb-2">
                                    <%= f.label :password_confirmation %><i>(please confirm your password)</i>
                                    <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: " con_pass form-control", placeholder: "Confirm Password"%>
                                    <span id="user_pass_error"></span>
                                </div>
                                <div class="field mt-2">
                                    <%= f.submit "Change Password", class: "btn btn-sm btn-primary send-request" %>
                                </div>	
                            <% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
    document.addEventListener("turbo:load", function() {
		var passwordField = $('#pass');
		var confirmationField = $('.con_pass');
		var confirmationErrorSpan = $('#user_pass_error');

		passwordField.on('keyup', function () {
			var password = passwordField.val();
			var confirmation = confirmationField.val();
			if (password !== "" && confirmation === "") {
				confirmationField.addClass('error');
				confirmationErrorSpan.text('Please enter password to confirm password').css('color', 'red');
				$('.send-request')[0].disabled = true;	
			} else if (confirmation !== "") {
				if (password !== confirmation) {
					confirmationField.addClass('error');
					confirmationErrorSpan.text('Passwords do not match').css('color', 'red');
					$('.send-request')[0].disabled = true;
				} else {
					confirmationField.removeClass('error');
					confirmationErrorSpan.text('');
					$('.send-request')[0].disabled = false;
				}
			} else {
				confirmationField.removeClass('error');
					confirmationErrorSpan.text('');
					$('.send-request')[0].disabled = false;
			}
		});

		confirmationField.on('input', function () {
			var password = passwordField.val();
			var confirmation = confirmationField.val();

			if (confirmation !== "" && password !== confirmation) {
				confirmationField.addClass('error');
				confirmationErrorSpan.text('Passwords do not match').css('color', 'red');
				$('.send-request')[0].disabled = true;
			} else {
				confirmationField.removeClass('error');
				confirmationErrorSpan.text('');
				$('.send-request')[0].disabled = false;
			}
		});
	});
</script>