<%= form_tag(search_users_path(format: :js), html: { method: :post }, remote: true, class: 'd-flex align-items-center justify-content-end gap-1 flex-wrap search-form') do %>
    <%= hidden_field_tag :method_name, params[:action]%> 
	
	<div class="form-group w-22">
        <div class= 'd-flex align-items-center mx-2'>
            <div class="form-group m-0 mx-2">
                Search By:
            </div>
            <div>
               	<%= text_field_tag :search, params[:search],id:"search-field", class:"form-control", placeholder:"Search "%>
            </div>

            <div class="form-group m-0 mx-2">
                Role:
            </div>
            <div>
                <%= select_tag :role_id, options_for_select(Role.where.not(name: 'admin').collect { |role| [role.name.titleize, role.id] }),include_blank: 'Select Role..', class: "form-control", id:"search-field1" %>           
            </div>

            <div class="form-group m-0 mx-2">
                Designations:
            </div>
            <div>
                <%= select_tag :designation,options_for_select(User.designations.keys.map { |d| [d.humanize, d] }),include_blank: "Select Designation..", class: "form-control", id: 'search-field2'%>
            </div>
        </div>
	</div> 
	<%= button_tag type: 'submit', id: "search-submit-btn", class: "btn btn-sm btn-secondary", style: "display: none;"  do %>
		<i class='mdi mdi-magnify search-icon'></i>
	<%end%>
<%end%>
 

<script>
	document.getElementById('search-field').addEventListener('change', function(e) {
		$("#search-submit-btn").trigger("click");
	})
    document.getElementById('search-field1').addEventListener('change', function(e) {
		$("#search-submit-btn").trigger("click");
	})
    document.getElementById('search-field2').addEventListener('change', function(e) {
		$("#search-submit-btn").trigger("click");
	})
    
</script>