<% if @user.errors.any? %>
  <h3>The following errors prevented the article from being saved:</h3>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
     <li><%= flash[:msg] %></li> 
    <% end %>
  </ul>
<% end %>
<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-between">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><%= link_to "Dashboard", home_index_path %></li>
						<li class="breadcrumb-item"><%= link_to "Users", users_path %></li>
						<li class="breadcrumb-item active">Edit user</li>
					</ol>
				</div>
			</div>
		</div>	
	</div>
</div>
<div class="card">
	<div class="card-body">
		<%= form_for @user do|f|%>
			<div class="row">
				<div class="form-group col-md-6 mb-2">
					<%= f.label :first_name %>
					<%= f.text_field :first_name,  autocomplete: "first_name", class: "form-control", placeholder: "Enter first name", required: true %>
				</div>
				<div class="form-group col-md-6 mb-2">
					<%= f.label :last_name %>
					<%= f.text_field :last_name,  autocomplete: "last_name", class: "form-control", placeholder: "Enter last name" %>
				</div>
				
				<div class="form-group col-md-6 mb-2">
					<%= f.label :email, class: "required-field" %><br />
					<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter email",required: true, uniq: true %>
				</div>

				<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
					<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
				<% end %>

				<div class="form-group col-md-6 mb-2">
					<%= f.label :phone %><br />
					<%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: "form-control", placeholder: "Enter phone no",required: true %>
				</div>
				<%if is_admin?%>
					<div class="form-group col-md-6 mb-2">
						<%= f.label :employee_code, class: "required-field" %>
						<%= f.text_field :employee_code, autofocus: true, autocomplete: "employee_code",  class: "form-control", placeholder: "Enter employee code",required: true %>
					</div>
				<%else%>
					<div class="form-group col-md-6 mb-2">
						<%= f.label :employee_code, class: "required-field" %>
						<%= f.text_field :employee_code, autofocus: true, autocomplete: "employee_code",  class: "form-control", placeholder: "Enter employee code",disabled: true %>
					</div>
				<%end%>
				<div class="col-md-6 field mb-2">
					<%= f.label :dob %>
					<%= f.text_field :dob, autofocus: true, autocomplete: "dob",  class: "form-control", placeholder: "Enter date of birth"  %>
				</div>
				<% if is_admin?%>
					<div class="col-md-6 field mb-2">
						<%= f.label :role, class: "required-field" %>
						<%= f.select :role_id, options_for_select(Role.all.collect{|role|[role.name, role.id]}, selected: @user.role_id),{include_blank: '--Select role--'}, {class: "form-control",required: true } %>
					</div>	
				<%else%>
					<div class="col-md-6 field mb-2">
						<%= f.label :role, class: "required-field" %>
						<%= f.select :role_id, options_for_select(Role.all.collect{|role|[role.name, role.id]}, selected: @user.role_id),{include_blank: '--Select role--'}, {class: "form-control",disabled: true } %>
					</div>
				<%end%>
				<div class=" col-md-6 field mb-2">
					<%= f.label :zip_code %>
					<%= f.text_field :zip_code, autofocus: true, autocomplete: "zip_code", class: "form-control", placeholder: "Enter zip-code"   %>
				</div>

				<div class="field mb-2">
					<%= f.label :address %>
					<%= f.text_area :address, autofocus: true, autocomplete: "address", class: "form-control", placeholder: "Enter address",required: true %>
				</div>


				<div class="field mb-2">
					<%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
					<%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Create password" %>
					<% if @minimum_password_length %>
						
						<em><%= @minimum_password_length %> characters minimum</em>
					<% end %>
				</div>

				<div class="field mb-2">
					<%= f.label :password_confirmation %>
					<%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "form-control", placeholder: "Confirm password"%>
				</div>

				<div class="field mt-2">
					<%= f.submit "Update", class: "btn btn-sm btn-primary" %>
				</div>	
			</div>
		<% end %>
	</div>
</div>
	
