<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-between">
					<div>
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><%= link_to "Dashboard", home_index_path %></li>
							<li class="breadcrumb-item active">users</li>
						</ol>
					</div>
					<div>
						<% if is_admin?%>
							<%= button_to "New",new_user_path, method: :get, class: "btn btn-sm btn-primary"%>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<table class='table'>
			<div>
				<thead> 
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Designation</th>
					<th>Phone No</th>
					<th>Employee Code</th>
					<th>Dob</th>
					<th>Role</th>
					<th>Gender</th>
					<th>Zip Code</th>
					<th>Address</th>
					<% if is_admin? || is_manager? %>
						<th>Actions</th>
					<%end%>
				</thead>
				<tbody>
						<% if @users.present?%>
							<% @users.each do|user|%>
								<tr>
									<td>
										<%= user.first_name.present? ?  user.first_name.titleize : "N/A"%>
									</td>
									<td>
										<%= user.last_name.present? ?  user.last_name.titleize : "N/A"%>
									</td>
									<td>
										<%= user.email.present? ?  user.email : "N/A"%>
									</td>
									<td>
										<%= user.designation.present? ?  user.designation.titleize : "N/A"%>
									</td>
									<td>
										<%= user.phone.present? ?  user.phone : "N/A"%>
									</td>
									<td>
										<%= user.employee_code.present? ?  user.employee_code : "N/A"%>
									</td>
									<td>
										<%= user.dob.present? ? user.dob.strftime("%B %d, %Y") : 'N/A' %>			
									</td>
									<td>
										<%= user.role.name.present? ?  user.role.name.titleize : "N/A"%>
									</td>
									<td>
										<%= user.gender.present? ?  user.gender.titleize : "N/A"%>
									</td>
									<td>
										<%= user.zip_code.present? ?  user.zip_code : "N/A"%>
									</td>
									<td>
										<%= user.address.present? ?  user.address : "N/A"%>
									</td>
									<td class="p-2">
										<div class="d-flex">
											<% if is_admin? || is_manager? %>
												<%= link_to edit_user_path(user), method: :get, class: "mx-2" do%> 
													<i class="bi bi-pencil-square"></i>
												<%end%>
											<%end%>
											<%if is_admin?%>	
												<% if current_user != user %>
													<%= link_to  user_path(user), data: { turbo_method: :delete, class: "mx-2", turbo_confirm: "Are you sure?"} do%> 
														<i class="bi bi-trash3-fill"></i>
													<%end%>
												<%end%>	
												<%= link_to edit_user_leave_type_path(user), {remote: true,class: "mx-2", "data-bs-toggle": "moda
												l", "data-bs-target": "#ppc_manager_modal" } do%>
													<i class="bi bi-file-earmark-diff"></i>
												<%end%>
											<%end%>
										</div>
									</td>
								</tr>
							<%end%>
						<% else %>
							<tr>
								<td colspan="12" class="text-center border-0">
									<h2 class="mt-3">Record Not Found</h2>
								</td>
							</tr>
                    <% end %>
				</tbody>
			</div>
		</table>
	</div>
	<div class="p-4">
		<% if is_admin? || is_manager?%>
			<%= will_paginate @users%>
		<%end%>
	</div>
</div>
<div id="ppc_manager"></div>



  