<div>
	<% if flash.now[:error].present? %>
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<%= flash.now[:error] %>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<ul>
				<% flash.now[:message].each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
</div>

<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-between">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><%= link_to "Dashboard", home_index_path %></li>
						<li class="breadcrumb-item"><%= link_to "Users", users_path %></li>
						<li class="breadcrumb-item active">Create user</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<%= form_for @user do |f| %>
			<div class="row">
				<div class="form-group col-md-6 mb-2">
					<%= f.label :first_name, class: "required-field" %>
					<%= f.text_field :first_name,  autocomplete: "first_name", class: "form-control", placeholder: "Enter first name",required: true %>
				</div>
				<div class="form-group col-md-6 mb-2">
					<%= f.label :last_name %>
					<%= f.text_field :last_name,  autocomplete: "last_name", class: "form-control", placeholder: "Enter last name" %>
				</div>
				
				<div class="form-group col-md-6 mb-2">
					<%= f.label :email, class: "required-field" %>
					<span id="user_email_error" class="error-message"></span>
					<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control ",id: "user_email", placeholder: "Enter email",required: true, uniq: true %>
					
				</div>

				<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
					<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
				<% end %>

				<div class="form-group col-md-6 mb-2">
					<%= f.label :phone %>
					<%= f.text_field :phone, autofocus: true,autocomplete: "phone", class: "form-control", placeholder: "Enter phone no" %>
				</div>

				<div class="form-group col-md-6 mb-2">
					<%= f.label :employee_code, class: "required-field" %>
					<%= f.text_field :employee_code, autofocus: true, autocomplete: "employee_code",  class: "form-control", placeholder: "Enter employee code",required: true %>
				</div>

				<div class="form-group col-md-6 mb-2">
					<%= f.label :DOB %>
					<%= f.date_field :dob, autofocus: true, autocomplete: "dob",  class: "form-control datepicker ", placeholder: "Enter date of birth"  %>
				</div>

				<div class="form-group col-md-6 mb-2">
					<%= f.label :role, class: "required-field" %>
					<%= f.select :role_id, options_for_select(Role.all.collect{|role|[role.name, role.id]}),{include_blank: '--Select role--'}, {class: "form-control",required: true } %>
				</div>

				<div class="form-group col-md-6 mb-2">
					<%= f.label :designation %>
					<%= f.select :designation,options_for_select(User.designations.keys.map { |d| [d.humanize, d] }),{include_blank: "Select Designation"},{class: "form-control" }%>
				</div>

				<div class="form-group col-md-6 mb-2">
					<%= f.label :gender %>
					<%= f.select :gender,options_for_select(User.genders.keys.map { |g| [g.humanize, g] }), {include_blank: "Select Gender"},{class: "form-control"}%>
				</div>

				<div class="form-group col-md-6 mb-2">
					<%= f.label :zip_code %>
					<%= f.text_field :zip_code, autofocus: true, autocomplete: "zip_code", class: "form-control", placeholder: "Enter zip-code"   %>
				</div>

				<div class="form-group mb-2">
					<%= f.label :address %>
					<%= f.text_area :address, autofocus: true, autocomplete: "address", class: "form-control", placeholder: "Enter address" %>
				</div>


				<div class="form-group mb-2">
					<%= f.label :password %> <i>(create password)</i>
					<%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Create password" %>
					<% if @minimum_password_length %>
						
						<em><%= @minimum_password_length %> characters minimum</em>
					<% end %>
				</div>

				<div class="form-group mb-2">
					<%= f.label :password_confirmation %> <i>(confirm password)</i>
					<%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "form-control", placeholder: "Confirm password"%>
				</div>

				<div class="form-group mt-2">
					<%= f.submit "save", class: "btn btn-sm btn-primary" %>
				</div>	
			</div>
		<% end %>
	</div>
</div>
<script>
  	var emails = [];

	$.ajax({
		type: "GET",
		url: "/users/checkemail",
		dataType: "json",
		data: { key1: true },
		success: function(response) {
			emails = response.emails; 
		},
		error: function(jqXHR, textStatus, errorThrown) {
			console.error("Error fetching emails:", errorThrown);
		}
	});

	$("#user_email").on("keyup", function() {
		var userEmail = $(this).val();
		if (userEmail !== "") {
			var emailRegex = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-Z0-9]{2,4}$/;
			if (!emailRegex.test(userEmail)) {
				$("#user_email").addClass("error");
				$("#user_email_error").text("Invalid email format").css("color", "red");
			} else {
				if (emails.indexOf(userEmail) !== -1) {
					$("#user_email").addClass("error");
					$("#user_email_error").text("Email already exists please enter a another email").css("color", "red");
				} else {
					$("#user_email").removeClass("error");
					$("#user_email_error").text("");
				}
			}
  		} else {
			$("#user_email").removeClass("error");
			$("#user_email_error").text("");
  		}
	});

</script>
