<section>
    <div class="container py-5">
        <div class="row">
        <div class="col-lg-5">
            <div class="card mb-4">
                <div class="card-body text-center" style="min-height:465px;">
                     <% if @user.present?%>
                        <% if @user.avatar.attached? %>
                            <%= image_tag @user.avatar, class:'rounded-circle img-height'%>
                        <%else%>
                            <%= image_tag 'placeholder.jpg', class: 'rounded-circle img-height' %>
                        <%end%>
                    <%end%>
                    <div class="my-3 text-bold fs-3 mt-5">         
                        <%= @user.first_name.present? ? @user.first_name.titleize  : "N/A"%> 
                        <%= @user.last_name.present? ? @user.last_name.titleize  : "N/A"%> 
                    </div>

                    <div class="mt-1 fs-6 text-muted">                     
                        <%= @user.email.present? ? @user.email.titleize  : "N/A"%> 
                    </div>
                    
                    <div class="my-3 text-muted fs-4">    
                        <%= @user.designation.present? ? @user.designation.titleize : "N/A"%>               
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card mb-4">
                <div class="card-body style="min-height:465px;">
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">Role</p>
                        </div>
                        <div class="col-sm-8">
                            <%= @user.role.present? ? @user.role.name.titleize : "N/A"%>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">Employee Code</p>
                        </div>
                        <div class="col-sm-8">
                            <%= @user.employee_code.present? ? @user.employee_code : "N/A"%>
                        </div>
                    </div>
                    <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="mb-0">Gender</p>
                            </div>
                            <div class="col-sm-8">
                                <%= @user.gender.present? ? @user.gender.titleize : "N/A"%>
                            </div>
                        </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">Reporting Manager</p>
                        </div>
<<<<<<< HEAD
                        <div class="col-sm-9">
                            <%= @user.reporting_manager.present? ? @user.reporting_manager.first_name.titleize : "N/A"%>
=======
                        <div class="col-sm-8">
                            <%= @user.reporting_manager.present? ? @user.reporting_manager.titleize : "N/A"%>
>>>>>>> 25cf95cc5c7232d78ad5f09099934cec5417e1a8
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">Phone</p>
                        </div>
                        <div class="col-sm-8">
                        <%= @user.phone.present? ? @user.phone : "N/A"%>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">Date Of Birth</p>
                        </div>
                        <div class="col-sm-8">
                            <%= @user.dob.present? ? @user.dob : "N/A"%>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">Address</p>
                        </div>
                        <div class="col-sm-8">
                            <%= @user.address.present? ? @user.address : "N/A"%>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">Zip Code</p>
                        </div>
                        <div class="col-sm-8">
                            <%= @user.zip_code.present? ? @user.zip_code : "N/A"%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>