<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-between">
					<div>
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><%= link_to "Dashboard", home_index_path %></li>
							<li class="breadcrumb-item"><%= link_to "Leaves", leave_types_path %></li>
							<li class="breadcrumb-item active">Add Leave_type</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<%= form_for @leave_type do |f| %>
			<div class="row">
				<div class="form-group col-md-6">
					<%= f.label :name, class: "required-field" %>
					<%= f.text_field :name, class: "form-control", placeholder: "Enter Name Of Holiday", required: true %>
				</div>
				<div class="form-group col-md-6">
					<%= f.label :count, class: "required-field" %>
					<%= f.text_field :count,  autocomplete: "no of holidays", class: "form-control", placeholder: "Enter No Of Leaves", required: true %>
				</div>
				<div class="form-group mt-2">
					<%= f.submit "save", class: "btn btn-sm btn-primary" %>
				</div>
				</div>
			</div>
		<%end%>
	</div>
</div>