<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-between">
					<div>
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item active">Dashboard</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="text-center" id="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body min-card">
                    <% if is_manager? || is_employee?%>
                        <div class="d-flex mt-1">
                            <div>
                                <label class="label-font-color"><b>Reporting Manager :</b></label>
                            </div>
                            <div>
                                <% if current_user.reporting_manager.present?%>
                                    <%= current_user.reporting_manager.first_name%>
                                <%else%>
                                    N/A
                                <%end%>
                            </div>
                        </div>
                    <%end%>
                    <div class="d-flex mt-1">
                        <div>
                            <label class="label-font-color"><b>Designation :</b></label>
                        </div>
                        <div>
                            <% if current_user.designation.present?%>
                                <%= current_user.designation.titleize%>
                            <%else%>
                                N/A
                            <%end%>
                        </div>
                    </div>
                    <div class="d-flex mt-1">
                        <div>
                            <label class="label-font-color"><b>Email :</b></label>
                        </div>
                        <div>
                            <% if current_user.email.present?%>
                                <%= current_user.email%>
                            <%else%>
                                N/A
                            <%end%>
                        </div>
                    </div>
                    <div class="d-flex mt-1">
                        <div>
                            <label class="label-font-color"><b>Employee Code :</b></label>
                        </div>
                        <div>
                            <% if current_user.employee_code.present?%>
                                <%= current_user.employee_code%>
                            <%else%>
                                N/A
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div id="chart-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="card">
        <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Pending Leaves</h3>
            </div>
            <div>
                <%= link_to "All Leaves", leave_requests_path, class: "btn btn-warning"%>
            </div>
        </div>
        <table class='table'>
                <thead> 
                    <% if is_admin?%>
                        <th>Employee Name</th>
                    <%end%>
                    <th>Leaves</th>
                    <th>Reporting Manager</th>
                    <th>Leave Type</th>
                    <th>Day Type</th>
                    <th>Leave From</th>
                    <th>Leave To</th>
                    <th>Request Time</th>
                    <th>Status</th>
                    <th>Reason</th>
                </thead>
                <tbody>
                    <% if @leave_requests.present?%>
                        <% @leave_requests.each do|leave_request|%>
                            <tr>
                                <% if is_admin?%>
                                    <td>
                                        <%= leave_request&.user&.first_name.present? ? leave_request.user.first_name.titleize : "N/A"%>
                                    </td>
                                <%end%>
                                <td>
                                    <%= leave_request.user_leave_type&.leave_type&.name.present? ? leave_request.user_leave_type.leave_type.name.titleize : "N/A"%>
                                </td>
                                <td>
                                    <%= leave_request&.reporting_manager&.first_name.present? ? leave_request.reporting_manager.first_name.titleize : "N/A" %>
                                </td>
                                <td>
                                    <%= leave_request.user_leave_type.leave_type.name%>
                                </td>
                                <td>
                                    <%= leave_request.day_type.present? ? leave_request.day_type.titleize : "N/A"%>
                                </td>
                                <td>
                                    <%= leave_request.leave_from.present? ? leave_request.leave_from : "N/A"%>
                                </td>
                                <td>
                                    <%= leave_request.leave_to.present? ? leave_request.leave_to : "N/A"%>
                                </td>
                                <td>
                                    <%= leave_request.created_at.present? ? leave_request.created_at.in_time_zone("Asia/Kolkata").strftime("%I:%M%p") : "N/A"%>
                                </td>
                                <td>
                                    <div>
                                        <% if is_admin?%>
                                            <% if leave_request.approve.eql?(nil)%>
                                                <%= link_to leave_approve_leave_request_path(leave_request), method: :post do%>
                                                    <i class="bi bi-check2 text-success"></i>
                                                <%end%>
                                                <%= link_to  leave_reject_leave_request_path(leave_request),method: :post do%>
                                                   <i class="bi bi-x text-danger"></i>
                                                <%end%>
                                            <%end%>
                                        <% elsif is_manager? || is_employee?%>
                                            <% if leave_request.approve.eql?(nil)%>
                                                <div><span class="text-warning">Pending!</span></div>
                                            <%end%>
                                        <%end%>
                                    </div>
                                </td>
                                <td>
                                    <%= leave_request.description.present? ? leave_request.description : "N/A"%>
                                </td>
                            </tr>
                        <%end%>
                    <%else%>
                        <tr>
                            <td colspan="12" class="text-center border-0">
                                <h2 class="mt-3">Record Not Found</h2>
                            </td>
                        </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    document.addEventListener("turbo:load", function() {
        Highcharts.chart('chart-container', {
            chart: {
                type: 'pie'
            },
            // title: {
            //     text: 'Browser market shares. January, 2022',
            //     align: 'left'
            // },
            // subtitle: {
            //     text: 'Click the slices to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>',
            //     align: 'left'
            // },

            accessibility: {
                announceNewData: {
                    enabled: true
                },
                point: {
                    valueSuffix: '%'
                }
            },

            plotOptions: {
                series: {
                    borderRadius: 5,
                    dataLabels: [{
                        enabled: true,
                        distance: 15,
                        format: '{point.name}'
                    }, {
                        enabled: true,
                        distance: '-30%',
                        filter: {
                            property: 'percentage',
                            operator: '>',
                            value: 5
                        },
                        format: '{point.y:.1f}%',
                        style: {
                            fontSize: '0.9em',
                            textOutline: 'none'
                        }
                    }]
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
            },

            series: [
                {
                    name: 'Browsers',
                    colorByPoint: true,
                    data: gon.leaves
                }
            ],
        });
    });
</script>
<style>
    .min-card{
        min-height: 440px;
    }
</style>





