<div class="d-flex justify-content-between">
	<div>
		<h2>Admin</h2>
	</div>
	<div>
		<%= button_to "New",new_admin_user_path, method: :get, class: "btn btn-primary"%>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<table class='table table-responsive'>
			<thead> 
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Phone No</th>
				<th>Employee Code</th>
				<th>dob</th>
				<th>Role</th>
				<th>Zip Code</th>
				<th>Address</th>
				<th>Actions</th>
			</thead>
			<tbody>
				<% @users.each do|user|%>
					<tr>
						<td>
							<%= user.first_name%>
						</td>
						<td>
							<%= user.last_name%>
						</td>
						<td>
							<%= user.email%>
						</td>
						<td>
							<%= user.phone%>
						</td>
						<td>
							<%= user.employee_code%>
						</td>
						<td>
							<%= user.dob%>
						</td>
						<td>
							<%= user.role&.name%>
						</td>
						<td>
							<%= user.zip_code%>
						</td>
						<td>
							<%= user.address%>
						</td>
						<td>
							<div class="d-flex">
							 		<%= button_to "Edit", edit_admin_user_path(user), method: :get, class: "btn btn-primary" %> 
							 		<%= button_to "Delete", admin_user_path(user), method: :delete, class: "btn btn-danger" %> 
							</div>
						</td>
					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>

  