<!DOCTYPE html>
<html>
  <head>
    <title>Emss</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/assets/jquery.min.js"></script>
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
   <%= render 'shared/flashes' %>
    <div class="wrapper">
      <%= render "base/header"%>
      <%= render "base/sidebar"%>
      <div class="content-wrapper">
        <div class="content container-fluid">
          <div class="container-fluid">
              <%= yield %>
          </div>
        </div>
      </div>
      <%= render "base/footer" %>
      <%# <%= render "base/control_sidebar"%> 
    </div>
    <script src="plugins/jquery/jquery.min.js"></script>
  
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
 
    <script src="dist/js/adminlte.min.js"></script>
  </body>
</html>
