<!DOCTYPE html>
<html>
  <head>
    <title>Emss</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%= render "base/header"%>
      <%= render "base/sidebar"%>
      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0"></h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><%= link_to "Home", admin_users_path %></li>
                  <li class="breadcrumb-item active">Users</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="content container-fluid">
          <div class="container-fluid">
              <%= yield %>
          </div>
        </div>
      </div>
      <%= render "base/footer" %>
      <%# <%= render "base/control_sidebar"%> 
    </div>
    <script src="plugins/jquery/jquery.min.js"></script>
  
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
 
    <script src="dist/js/adminlte.min.js"></script>
  </body>
</html>
